.about {
  background-image: url(@/assets/backgrounds/colored-patterns.svg);
  background-size: contain;
  background-color: $color-grey;

  .content {
    .title {
      font-size: 4.5rem;
      line-height: 100%;
      font-family: $font-secondary;
    }

    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.logos {
  margin-block-end: 2rem;
  padding-block-end: 1rem;

  .media {
    margin-block-start: 3rem;

    .figure {
      padding-inline: 6rem;

      .caption {
        border-block: 1px solid $color-light;
        margin-block-start: 1rem;
        color: lighten($color-primary, 25%);
      }
    }
  }
}

.past {
  .content {
    .description {
      margin-block-end: 3rem;
    }

    .figure {
      position: relative;

      .caption {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color-secondary, 0.6);
      }
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .about {
    .container {
      > .content {
        min-height: calc(100vh - 151px);
      }
    }
  }

  .past {
    .content {
      .images {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
