.header {
  .toolbar {
    .container {
      padding-block: 0.5rem;
    }

    .icon {
      filter: invert(1);
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .nav-link {
    padding-block-end: 0.5rem;

    &:hover {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 2rem;
        height: 2px;
        background-color: lighten($color-primary, 25%);
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .btn-menu {
    position: relative;
  }

  &.header-mobile {
    background-image: url(@/assets/images/headway-F2KRf_QfCqw-unsplash.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 10;

    .menu {
      background-color: rgba($color-light, 0.9);
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;

      .btn-close {
        position: absolute;
        top: 0;
        left: 0;
        margin-inline: 1rem;
      }

      .nav-items {
        display: flex;

        .nav-home {
          display: block;
        }

        .nav-link {
          line-height: 250%;
          font-size: 1.25rem;
        }
      }

      .btn {
        font-size: 1.25rem;
      }
    }
  }
}
