.primary {
  background-color: $color-primary;
}

.secondary {
  background-color: $color-secondary;
}

.light {
  background-color: $color-light;
}

.primary--text {
  color: $color-primary;
}

.secondary--text {
  color: $color-secondary;
}

.light--text {
  color: $color-light;
}

.white--text {
  color: $color-white;
}
