.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

@media screen and (min-width: $breakpoint-md) {
  .d-md-none {
    display: none;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-grid {
    display: grid;
  }
}
