$mdi-font-path: "../../node_modules/@mdi/font/fonts";

@import "../../node_modules/@mdi/font/scss/materialdesignicons.scss";
@import "@fontsource/lato";

@font-face {
  font-family: Cocogoose;
  src: url(../assets/fonts/cocogoose-pro.regular.ttf);
}
